@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

@font-face {
  font-family: "Qualy Bold";
  src: url("/font/Qualy-Bold.woff") format("woff");
}

html {

  font-family: 'Comfortaa' !important;
}

body {
  width: 100%;
  height: 110vh;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.accueil {
  width: 100%;
  padding: 0;
  margin: 0;
  background-position: top;
  background-size: cover;
  background-image: url(../images/fond.jpg);
  background-repeat: no-repeat;
}

.pres {
  padding: 300px 80px;
  text-align: center;
}

.navbar {
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 12;
  position: fixed !important;
  background-color: #fff !important;
  height: 100px;
}

.navbar-light .navbar-nav .nav-link {
  color: #1F8700 !important;
  text-decoration: none;
  font-family: 'Comfortaa';
  text-transform: uppercase;
  font-size: 1.2rem;
}

.navbar-light .navbar-nav .nav-link:hover {

  color: #83D68B !important;
  font-weight: 700;
}

.navbar-light .navbar-toggler {
  color: #1F8700;
  border-color: transparent;
}

.title-anim-1 span {
  top: 100%;
  font-weight: 700;
  font-family: 'Comfortaa';
  text-transform: uppercase;
  color: #1F8700;
  font-size: 4.8rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.title-anim-1bis span {
  top: -100%;
  animation: .4s titleAnim 2.5s ease forwards;
  font-family: 'Qualy Bold';
  text-transform: uppercase;
  color: #83D68B;
  font-size: 2.5rem;
}

.title-anim-2bis span {
  top: -100%;
  animation: .4s titleAnim 3s ease forwards;
  font-family: 'Qualy Bold';
  text-transform: uppercase;
  color: #83D68B;
  font-size: 2.5rem;
}

@keyframes titleAnim {
  100% {
    top: 0;
  }
}

h1 {
  font-family: 'Qualy Bold';
  text-transform: uppercase;
  font-size: 3.5rem;
}

.titreformation {

  padding-bottom: 5%;
}

.presentation,
.cv,
.competences,
.experiences,
.portfolio {
  padding-top: 5%;
}

/*premiere partie*/

.presentation {

  width: 100%;
  height: 60vh;
  padding: 100px 0px;
  background-size: cover;
  background-image: url(../images/Groupe\ 21.png);
  background-repeat: no-repeat;
}

.rectvert {
  background-color: #B0FF98;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
}

.photo h1 {
  font-family: 'Qualy Bold';
  text-transform: uppercase;
  color: #1F8700;
  font-size: 3.5rem;
  padding: 5px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 1px 4px 17px #1F8700;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 400px;
}

.photo img {
  width: 70%;
  display: block;
  margin-top: 10%;
}

.about {
  background-color: #fff;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.about p {
  font-family: 'Comfortaa';
  color: #1F8700;
  font-size: 1.2rem;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  padding: 50px 53px;
  margin-top: 70px;
  text-align: justify;
}

.section-title {
  margin-top: 10%;
}

.section-title2 {
  margin-top: 5%;
}

.liencv {
  text-align: center;
  font-family: 'Qualy Bold';
  text-transform: uppercase;
  color: #1F8700;
  font-size: 2.5rem;
  padding: 10px 15px;
  border: 2px solid;
  border-radius: 20px 0px;
  border-color: #83D68B;
  width: 500px;
}

.liencv:hover {
  text-decoration: none;
  color: #000;
}

/*formation*/
.rowformation {
  margin-bottom: 50px;
  font-family: 'Comfortaa';
  color: #fff;
}

.cv,
.experiences {
  background-color: #1F8700;
  padding-bottom: 100px;
}

.cv {
  margin-top: 30%;
}

.titreformation,
.titreexperience {
  color: #fff;
}

.imgformation {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.datediplome {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0;
}

.nomdiplome {
  margin: 0;
  font-weight: 300;
  font-size: 1.2rem;
  color: #fff;
}

.nomdiplome span {
  font-family: 'Qualy Bold';
  text-transform: uppercase;
  font-size: 2.0rem;
  color: #fff;
}

.lieudiplome {
  margin: 0;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #fff;
}

/* fin formation*/
/*competences*/
.titrecompetence,
.titrecontact {
  color: #1F8700;
}

.competences {
  padding-bottom: 100px;
  background-color: #fff;
}

.logocompetence {
  width: 100px;
  margin-top: 40px;
  margin-bottom: 25px;
}

.titrecomp {
  font-family: 'Comfortaa';
  color: black;
  font-weight: 700;
  font-size: 1.25rem;
  text-align: center;
  text-transform: uppercase;
}

.comp {
  font-family: 'Comfortaa';
  color: black;
  font-size: 1rem;
  text-align: center;
}

.cadre1 {
  border: 2px solid #83D68B;
  height: 400px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.cadre2 {
  border: 2px solid #1F8700;
  height: 400px;
  width: 300px;
  margin-left: 5px;
  margin-top: 5px;
}

/*fin competences*/
/*experiences*/
.lieu {
  font-weight: 700;
  font-style: italic;
  font-family: 'Comfortaa';
  margin-bottom: -25px;
  margin-top: -15px;
}

.desc {
  font-family: 'Comfortaa';
}

section {
  padding: 100px 0;
}

.timeline {
  position: relative;
  font-family: 'Comfortaa';
}

.timeline::before {
  content: "";
  background: #83D68B;
  width: 5px;
  height: 95%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.timeline-item {
  width: 100%;
}

.timeline-item:nth-child(even) .timeline-content {
  float: right;
  padding: 40px 30px 10px 30px;
}

.timeline-item:nth-child(even) .timeline-content .date {
  right: auto;
  left: 0;
}

.timeline-item:nth-child(even) .timeline-content::after {
  content: "";
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  left: -15px;
  border-width: 10px 15px 10px 0;
  border-color: transparent #f5f5f5 transparent transparent;
}

.timeline-item::after {
  content: "";
  display: block;
  clear: both;
}

.timeline-content:hover {
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.26);
  transition: all 0.5s;
}

.timeline-content {
  position: relative;
  width: 45%;
  padding: 10px 30px;
  border-radius: 40px;
  background: #f5f5f5;
  box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
  transition: all 0.5s;
}

.timeline-content::after {
  content: "";
  position: absolute;
  border-style: solid;
  width: 0;
  height: 0;
  top: 30px;
  right: -15px;
  border-width: 10px 0 10px 15px;
  border-color: transparent transparent transparent #f5f5f5;
}

.timeline-img {
  width: 30px;
  height: 30px;
  background: #83D68B;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  margin-top: 25px;
  margin-left: -15px;
}

.timeline-card {
  padding: 0 !important;
}

.timeline-card p {
  padding: 20px;
}

.timeline-item:nth-child(1) .timeline-img-header {
  background-image: url(../images/Experiences/limonit.png);
  background-size: 250px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
}

.timeline-item:nth-child(2) .timeline-img-header {
  background-image: url(../images/Experiences/limonit.png);
  background-size: 250px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
}

.timeline-item:nth-child(3) .timeline-img-header {
  background-image: url(../images/Experiences/IUT.png);
  background-size: 250px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: top;
}

.timeline-item:nth-child(4) .timeline-img-header {
  background-image: url(../images/Experiences/ERAI.png);
  background-size: 250px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}


.timeline-img-header {
  height: 200px;
  position: relative;
  margin-bottom: 20px;
}

.timeline-img-header h2 {
  color: #000;
  position: absolute;
  bottom: 5px;
  font-family: 'Comfortaa';
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0.705);
  padding: 15px;
}

blockquote {
  margin-top: 30px;
  color: #757575;
  border-left-color: #83D68B;
  padding: 0 20px;
}

.date {
  background: #83D68B;
  display: inline-block;
  color: #ffffff;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
}

/*finexperience*/
/* portfolio*/
.portfolio {
  padding-bottom: 100px;
}

.titreportfolio {
  font-size: 3.5rem;
  margin-top: 150px;
  margin-bottom: 50px;
}

.example p {
  opacity: 0;
  margin-top: -500px;
}

.example p:hover {
  opacity: 1;
}

.publication article {
  margin-left: auto;
  margin-right: auto;
  float: none;
}

.publication article {

  position: relative;
  float: left;
  margin: 20px;
  background: #1F8700;

}

.publication article img {
  max-width: 300px;
  opacity: 1.0;
  margin-left: auto;
  margin-right: auto;
}

.publication article:hover img {
  opacity: 0.5;
}

.publication article a {
  color: #041038;
  text-decoration: none;
}

.content {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  width: 300px;
  height: 300px;
  -webkit-transition: all 400ms ease-out;
  -moz-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  -ms-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  text-align: center;
}

.content:hover {
  opacity: 1;
}

.content .text {
  height: 0;
  opacity: 1;
  transition-delay: 0s;
  transition-duration: 0.4s;
}

.content .text p {
  font-size: 2rem;
  font-family: 'Qualy Bold';
  text-transform: uppercase;
}

.content .text span {
  font-family: 'Comfortaa';
  font-size: 1em;
  margin-bottom: 50px;
}

.content .text a {
  font-family: 'Comfortaa';
  font-size: 1.5em;
  font-weight: 700;
  color: #fff;
}

.content .text a:hover {
  color: #83D68B;
}

.content:hover .text {
  opacity: 1;
  transform: translateY(70px);
  -webkit-transform: translateY(70px);
}

.allcrea {
  background-color: #000;
  padding-bottom: 50px;
}

.super_container_details {
  margin-top: 5%;
  margin-left: 2.5%;
  width: 95%;
}

.bradcam_area {
  background-size: cover;
  background-position: bottom;
  padding: 50px;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
}

.bradcam_area h3 {
  font-size: 3.5rem;
  color: #fff;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 50px;
  text-transform: capitalize;
  font-family: "Qualy Bold";
}


.bradcam_area p {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  text-transform: capitalize;
}

.bradcam_area p a {
  color: #fff;
}

.bradcam_area p a:hover {
  color: #fff;
}

.work_details_area {
  padding-bottom: 70px;
  color: #fff;
  position: relative;
}

.work_details_area .details_catagory_wrap {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
}

.single_catagory {
  margin-bottom: 30px;
}

.single_catagory span {
  font-size: 1rem;
  color: #fff;
  font-weight: 700;
  font-family: 'Comfortaa';
  display: block;
  margin-bottom: 6px;
  text-transform: uppercase;
}

.single_catagory h4 {
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  font-family: 'Comfortaa';

}

.social_links a {
  font-size: 16px;
  color: #000;
  margin-right: 20px;
}

.social_links a:hover {
  color: #1F8700 !important;
}


.banner {
  margin-bottom: 100px;
}


.banner img {
  width: 80%;
  margin-left: auto;
  margin-right: auto;

}

.details_info {
  margin-bottom: 70px;
}

.info {
  margin-bottom: 30px;
}

.info p {
  font-size: 16px;
  font-weight: 400;
  color: #fff;

  font-family: 'Comfortaa';
}

.thumb {
  margin-bottom: 30px;
}

.thumb img {
  width: 100%;
}

.projet_link {
  width: 35%;
  margin-bottom: -30%;
  padding: 15px;
  border: 2px solid #fff;
  border-radius: 10%/50%;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  font-family: 'Comfortaa';
  font-size: 1.3rem;
}

.projet_link:hover {
  background: #1F8700;
  text-decoration: none;
  color: #fff;
  border: none;
}

.carousel-inner {

  margin-left: auto;
  margin-right: auto;
  width: 65%;
}

.work_details_area h5 {
  text-transform: capitalize;
  font-family: "Qualy Bold";
  font-size: 3rem;
  margin-bottom: 50px;
}

/* page crea*/
.portfoliocrea {

  width: 100%;
  padding: 0;
  margin: 0;
  background-position: top;
  background-size: cover;
  background-image: url(../images/fond.jpg);
  background-attachment: fixed;
}

.rubriquesimg {
  height: 150px;
  margin-bottom: 50px;
  margin-top: 15px;
}

.crea:hover {
  animation: shake 1s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.crea {
  padding: 15px;
  height: 350px;
  width: 450px;
  border-radius: 50px;
}

.textecrea {
  margin-top: 5%;
  font-family: 'Comfortaa';
  color: black;
  width: 75%;
  margin-bottom: 15%;
}

.textecrea .date1 {
  margin-bottom: 25px;
  font-style: italic;
  font-size: 1.1em;
}

.textecrea .circonstance {
  text-transform: uppercase;
  font-size: 1.2em;
}

.textecrea .descrportfolio {
  margin-bottom: 25px;
  font-size: 1.1em;
}

.boutonplus {
  color: black;
  border: 2px solid black;
  padding: 10px;
  border-radius: 10px;
}

.boutonplus:hover {
  text-decoration: none;
  color: #1F8700;
  border: 2px solid #1F8700;
}

/*footer*/


.fa-linkedin-in,
.fa-instagram {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 40px;
  margin: 10px;
  color: #fff;
  font-size: 1.6rem;
}

.fa-linkedin-in:hover,
.fa-instagram:hover,
.fa-github:hover {
  color: #1F8700;
}

#num,
#mail,
#ville {

  font-family: 'Comfortaa';
  font-weight: 400;
  color: black;
  font-size: 1.4rem;
}

#ville {
  text-transform: uppercase;
}

#num:hover,
#mail:hover {
  color: #1F8700;
  text-decoration: none;
}

.fa-linkedin-in {
  text-align: left;
  width: 40px;
  color: #000;
}

.fa-linkedin-in:hover,
.fa-instagram:hover {
  color: #1F8700;
}

.lieuxcontact {
  background: #83D68B;
  color: black;
  font-family: 'Comfortaa';
  font-weight: 400;
  width: 100%;
  padding: 2rem 0;
  position: relative;
}

#copyright {
  margin-top: 50px;
  margin-bottom: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #000;
  font-size: 1.2rem;

}

#copyright a {
  color: #000;
  text-decoration: none;

}

#copyright a:hover {
  color: #1F8700;

}

@media (max-width:1400px) {
  .rectvert {
    width: 100%;
  }
}

@media (max-width:1210px) {
  .imgformation {
    width: 20%;

  }

  .navbar-light .navbar-nav .nav-link {
    font-size: 1rem;
  }

  .datediplome,
  .nomdiplome,
  .nomdiplome span,
  .lieudiplome {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .datediplome {
    margin-top: 15px;
  }
}

@media (max-width:1200px) {

  .photo img {
    width: 40%;
    margin-top: 5%;
  }

  .carousel-inner {
    margin-bottom: 15%;
  }

  /*
  .about {
    width: 800px;
    margin-top: -15%;
  }

  .about p {
    width: 800px;
    padding: 40px 43px;
  }
*/
  .photo h1 {
    margin-top: 50px;
  }

  .section-title {
    margin-top: 0 !important;
  }

  .about p {
    margin-bottom: 50px;
    margin-top: 20px;
  }

  .liencv {
    color: #1F8700;
    border-color: #1F8700;
  }

  .liencv:hover {
    color: #000;
    border-color: #000;
  }

  .contenu {
    margin-top: 0vh;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;
  }

  .content .text,
  .content .text a {

    color: #000;
  }

  .publication article {
    margin-left: auto;
    margin-right: auto;
    float: none;
    width: 35%;
    background: none;
    margin-left: 32%;
  }

  .publication article img {
    max-width: 300px;
  }

  .cv {
    margin-top: 70%;
  }
}

@media (max-width:1090px) {

  .accueil,
  .portfoliocrea {
    background-image: url(../images/fondipad.jpg);
  }

  .navbar-light .navbar-nav .nav-link {
    width: 110%;
    margin-left: -5%;
    background-color: white;
    padding: 20px;
    text-align: center;
  }

  .cv {
    margin-top: 80%;
  }
}

@media (max-width:991px) {

  .publication article {
    margin-left: 25%;
  }
}

@media (max-width:900px) {
  .cv {
    margin-top: 100%;
  }

  .photo img {
    width: 50%;
  }

  .about {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .timeline::before {
    left: 50px;
  }

  .timeline .timeline-img {
    left: 50px;
  }

  .timeline .timeline-content {
    max-width: 100%;
    width: auto;
    margin-left: 70px;
  }

  .timeline .timeline-item:nth-child(even) .timeline-content {
    float: none;
  }

  .timeline .timeline-item:nth-child(odd) .timeline-content::after {
    content: "";
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    left: -15px;
    border-width: 10px 15px 10px 0;
    border-color: transparent #f5f5f5 transparent transparent;
  }

}

@media (max-width: 767px) {
  .work_details_area .banner {
    margin-bottom: 40px;
  }

  .work_details_area .details_catagory_wrap {
    display: block;
    margin-bottom: 40px;
  }

  .bradcam_area {
    padding: 120px 0;
  }


  .publication article {
    margin-left: 14%;
  }

  .pres {
    padding: 200px 40px;
  }

  .title-anim-1 span {
    font-size: 3rem;
  }

  .title-anim-1bis span,
  .title-anim-2bis span {
    font-size: 2.3rem;
  }

  .bradcam_area h3 {

    margin-bottom: -50px;
  }

  .carousel-indicators {
    display: none;
  }
}

@media (max-width: 700px) {
  .photo img {
    width: 70%;
  }

  .cv {
    margin-top: 140%;
  }

  .about p {
    padding: 50px 33px;
  }
}

@media (max-width: 600px) {

  .content {
    width: 200px;
    height: 200px;
  }

  .publication article img {
    max-width: 250px;
  }

  .liencv {
    font-size: 1.8rem;
    border: none;
  }

  .publication article {
    margin-left: 22%;
  }

  #num,
  #mail,
  #ville,
  #copyright {
    font-size: 1rem;
  }

  .crea {
    height: 250px;
    width: 350px;
  }

  .cv {
    margin-top: 160%;

  }

  .about p {
    font-size: 1rem;
  }
}

@media screen and (max-width : 500px) {

  .publication article {
    margin-left: 15%;
  }
}

@media screen and (max-width : 460px) {
  .pres {
    padding: 200px 10px;
  }

  .title-anim-1 span {
    font-size: 2.5rem;
  }

  .title-anim-1bis span,
  .title-anim-2bis span {
    font-size: 1.6rem;
  }

  .photo h1,
  h1 {
    font-size: 2.5rem;
  }

  .photo h1 {
    width: 250px;
  }

  .cv {
    margin-top: 180%;

  }

  .publication article {
    margin-left: 7%;
  }
}

@media screen and (max-width : 400px) {
  .crea {
    height: 200px;
    width: 300px;
  }

  h1 {
    font-size: 2rem;
  }

  .fa-lg {
    font-size: 2em;
  }

  .cv {
    margin-top: 240%;
  }

  .publication article {
    margin-left: 2%;
  }
}

@media screen and (max-width : 350px) {
  .publication article img {
    max-width: 200px;
  }
}

