@font-face {
    font-family: "Caviar Dreams";
    src: url('font/CaviarDreams.ttf');
}
@font-face {
    font-family: "Caviar Dreams";
    font-style: bold;
    src: url('font/CaviarDreams_Bold.ttf');
}
@font-face {
    font-family: "Caviar Dreams";
    font-style: italic;
    src: url('font/CaviarDreams_Italic.ttf');
}

body{
    font-family: 'Varela', sans-serif;
    width: 100%;
    height: 80vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-image : url("background.jpg");
    background-size: cover;
    padding: 0;
    margin: 0;
}
.active a {
    color: #019E4A;
    text-transform: uppercase;
    text-align: center;
    text-decoration:none;
    font-weight: bold;
    font-size: 120%;
    letter-spacing: 2px;
    line-height: 350%;
}

li.active {
    display:inline-block;
    min-width:50%;
    z-index: 0;
}

li.active a:after {
    content: '';
    display: block;
    margin-left: 35%;
    height: 1px;
    width: 1px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}
li.active a:hover:after {
    width: 30%;
    margin-left: 35%;
    background: #019E4A;
}
nav {
    display: flex;
    width: 100%;
    height: 10%;
    font-family: "Caviar Dreams";
}

nav ul {
    padding: 0;
    list-style: none;
    position: relative;
    display: flex;
    margin-top: 0.2%;
    margin-left: 20%;
    
}
nav li.active {
    position: relative;
    padding: 5% 15px;
}

.container {
    position: relative;
    width: 100%;
    height: 50%;
    margin-top: 8%;
}

.content {
    position: relative;
    width: 100%;
    height: 100%;
}

.container h2 {
    position: relative;
    top: 50%;
    margin-top: -11%;
    font-size: 600%;
    width: 100%;
    text-align: center;
    color: transparent;
    -webkit-animation: blurFadeInOut 2s ease-in backwards;
    -moz-animation: blurFadeInOut 2s ease-in backwards;
    -ms-animation: blurFadeInOut 2s ease-in backwards;
    animation: blurFadeInOut 2s ease-in backwards;
    outline: solid;
    z-index: -1;
}
.container h2.text1 {
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -ms-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
.container h2.text2 {
    -webkit-animation-delay: 2.5s;
    -moz-animation-delay: 2.5s;
    -ms-animation-delay: 2.5s;
    animation-delay: 2.5s;
}
.container h2.text3 {
    -webkit-animation-delay: 4.5s;
    -moz-animation-delay: 4.5s;
    -ms-animation-delay: 4.5s;
    animation-delay: 4.5s;
}
.container h2.text4 {
    -webkit-animation-delay: 6.5s;
    -moz-animation-delay: 6.5s;
    -ms-animation-delay: 6.5s;
    animation-delay: 6.5s;
}
.container h2.text5 {
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    animation: none;
    color: transparent;
    text-shadow: 0px 0px 1px #019E4A;
}
.container h2.text5 span {
    -webkit-animation: blurFadeIn 1s ease-in 8.5s backwards;
    -moz-animation: blurFadeIn 1s ease-in 8.5s backwards;
    -ms-animation: blurFadeIn 1s ease-in 8.5s backwards;
    animation: blurFadeIn 1s ease-in 8.5s backwards;
}
.container h2.text5 span:nth-child(1) {
    font-size: 110%;
    text-align: center;
}
.container h2.text5 span:nth-child(2) {
    font-size: 30%;
    -webkit-animation-delay: 9s;
    -moz-animation-delay: 9s;
    -ms-animation-delay: 9s;
    animation-delay: 9s;
}
.container h2.text5 span:nth-child(3) {
    font-size: 30%;
    -webkit-animation-delay: 9s;
    -moz-animation-delay: 9s;
    -ms-animation-delay: 9s;
    animation-delay: 9s;
}
.container h2.text5 span:nth-child(4) {
    font-size: 30%;
    -webkit-animation-delay: 9.5s;
    -moz-animation-delay: 9.5s;
    -ms-animation-delay: 9.5s;
    animation-delay: 9.5s;
}
.container h2.text5 span:nth-child(5) {
    font-size: 30%;
    -webkit-animation-delay: 9.5s;
    -moz-animation-delay: 9.5s;
    -ms-animation-delay: 9.5s;
    animation-delay: 9.5s;
}
.container h2.text5 span:nth-child(6) {
    font-size: 30%;
    -webkit-animation-delay: 10s;
    -moz-animation-delay: 10s;
    -ms-animation-delay: 10s;
    animation-delay: 10s;
}
.container a{
    z-index: 0;
}

.box {
    position: relative;
    width: 12%;
    margin: 25% 45%;
    padding: 1%;
    border: 1px solid #019E4A;
    border-radius: 20%/50%;
    color: #019E4A;
    text-decoration: none;
    -webkit-animation: fadeInRotate 1s linear 10.5s backwards;
    -moz-animation: fadeInRotate 1s linear 10.5s backwards;
    -ms-animation: fadeInRotate 1s linear 10.5s backwards;
    animation: fadeInRotate 1s linear 10.5s backwards;
    -webkit-transform: scale(1) rotate(0deg);
    -moz-transform: scale(1) rotate(0deg);
    -o-transform: scale(1) rotate(0deg);
    -ms-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
}
.box:hover {
    background: rgba(1,158,74,1);
    text-decoration: none;
    color: #fff;
}

@-webkit-keyframes blurFadeInOut {
    0% {
        opacity: 0;
        text-shadow: 0px 0px 40px #019E4A;
        -webkit-transform: scale(1.3);
    }
    20%, 75% {
        opacity: 1;
        text-shadow: 0px 0px 1px #019E4A;
        -webkit-transform: scale(1);
    }
    100% {
        opacity: 0;
        text-shadow: 0px 0px 50px #019E4A;
        -webkit-transform: scale(0);
    }
}
@-webkit-keyframes blurFadeIn {
    0% {
        opacity: 0;
        text-shadow: 0px 0px 40px #019E4A;
        -webkit-transform: scale(1.3);
    }
    50% {
        opacity: 0.5;
        text-shadow: 0px 0px 10px #019E4A;
        -webkit-transform: scale(1.1);
    }
    100% {
        opacity: 1;
        text-shadow: 0px 0px 1px #019E4A;
        -webkit-transform: scale(1);
    }
}
@-webkit-keyframes fadeInBack {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
    }
    50% {
        opacity: 0.4;
        -webkit-transform: scale(2);
    }
    100% {
        opacity: 0.2;
        -webkit-transform: scale(5);
    }
}
@-webkit-keyframes fadeInRotate {
    0% {
        opacity: 0;
        -webkit-transform: scale(0) rotate(360deg);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1) rotate(0deg);
    }
}

@-moz-keyframes blurFadeInOut {
    0% {
        opacity: 0;
        text-shadow: 0px 0px 40px #019E4A;
        -moz-transform: scale(1.3);
    }
    20%, 75% {
        opacity: 1;
        text-shadow: 0px 0px 1px #019E4A;
        -moz-transform: scale(1);
    }
    100% {
        opacity: 0;
        text-shadow: 0px 0px 50px #019E4A;
        -moz-transform: scale(0);
    }
}
@-moz-keyframes blurFadeIn {
    0% {
        opacity: 0;
        text-shadow: 0px 0px 40px #019E4A;
        -moz-transform: scale(1.3);
    }
    100% {
        opacity: 1;
        text-shadow: 0px 0px 1px #019E4A;
        -moz-transform: scale(1);
    }
}
@-moz-keyframes fadeInBack {
    0% {
        opacity: 0;
        -moz-transform: scale(0);
    }
    50% {
        opacity: 0.4;
        -moz-transform: scale(2);
    }
    100% {
        opacity: 0.2;
        -moz-transform: scale(5);
    }
}
@-moz-keyframes fadeInRotate {
    0% {
        opacity: 0;
        -moz-transform: scale(0) rotate(360deg);
    }
    100% {
        opacity: 1;
        -moz-transform: scale(1) rotate(0deg);
    }
}

@keyframes blurFadeInOut {
    0% {
        opacity: 0;
        text-shadow: 0px 0px 40px #019E4A;
        transform: scale(1.3);
    }
    20%, 75% {
        opacity: 1;
        text-shadow: 0px 0px 1px #019E4A;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        text-shadow: 0px 0px 50px #019E4A;
        transform: scale(0);
    }
}
@keyframes blurFadeIn {
    0% {
        opacity: 0;
        text-shadow: 0px 0px 40px #019E4A;
        transform: scale(1.3);
    }
    50% {
        opacity: 0.5;
        text-shadow: 0px 0px 10px #019E4A;
        transform: scale(1.1);
    }
    100% {
        opacity: 1;
        text-shadow: 0px 0px 1px #019E4A;
        transform: scale(1);
    }
}
@keyframes fadeInBack {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    50% {
        opacity: 0.4;
        transform: scale(2);
    }
    100% {
        opacity: 0.2;
        transform: scale(5);
    }
}
@keyframes fadeInRotate {
    0% {
        opacity: 0;
        transform: scale(0) rotate(360deg);
    }
    100% {
        opacity: 1;
        transform: scale(1) rotate(0deg);
    }
}


@keyframes checked-anim {
    100% {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

@keyframes not-checked-anim {
    0% {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
    10% {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

.menu{
    list-style: none;
}

li.burger-content {
    margin: 8% 0 -3% 45%;
    width: 207px;
    display: none;
}
.burger-content a {
    text-decoration: none;
    text-transform: none;
    font-family: 'Varela', sans-serif;    
    color: #fff;
    font-size: 300%;
    text-align: center;
}

.burger-content a:hover{
    color:black;
}

#trigger, #burger, #burger:before, #burger:after {
    position: fixed;
    top: 5%;
    left: 1.5%;
    background: #fff;
    width: 30px;
    height: 5px;
    transition: .2s ease;
    cursor: pointer;
    z-index: 2;
}
#trigger {
    height: 25px;
    background: none;
}
#burger:before {
    content: " ";
    top: 3%;
    left: 1.5%;
}
#burger:after {
    content: " ";
    top: 4%;
    left: 1.5%;
}

#menu-toggle:checked + #trigger + #burger {
    top: 4%;
    transform: rotate(180deg);
    transition: transform .2s ease;
    transition-duration: 1s;
}

#menu-toggle:checked + #trigger + #burger:before {
    width: 20px;
    top: -2px;
    left: 18px;
    transform: rotate(45deg) translateX(-5px);
    transition: transform .2s ease;
    transition-duration: 1s;
}
#menu-toggle:checked + #trigger + #burger:after {
    width: 20px;
    top: 2px;
    left: 18px;
    transform: rotate(-45deg) translateX(-5px);
    transition: transform .2s ease;
    transition-duration: 1s;
}
#menu {
    position: fixed;
    margin: 0; padding: 0;
    top: 0;
    width: 6%;
    height: 11%;
    background-color: #6a6a6a;
    border-bottom-right-radius: 100%;
    animation: not-checked-anim 1s ease both;
    animation-duration: 1s;
    z-index: 1;
}
#menu-toggle:checked + #trigger + #burger + #menu {
    animation: checked-anim 1s ease both;
    animation-duration: 1s;
}
#menu-toggle:checked + #trigger ~ #menu > li, a {
    display:block
}
[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    display: none;
}



/*****************
    Description
*****************/

/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800,900');

/* Body and some general stuff */

div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.super_container_description
{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	padding-left: 40px;
	padding-bottom: 45px;
	padding-right: 41px;
	padding-top: 97px;
}

.background_image
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

/* Content */

.main_content_outer_description
{
	width: 100%;
	height: 100%;
	background: #282828;
	overflow: hidden;
}

.general_info
{
    /*019E4A*/
	width: 473px;
	height: 100%;
	background: #04612F;
}
.general_info_image
{
	width: 100%;
	height: 473px;
}
.general_info_content
{
	width: 100%;
	height: 100%;
	padding-left: 77px;
	padding-top: 49px;
	padding-right: 15px;
	padding-bottom: 20px;
	overflow: hidden;
}
.general_info_content_inner
{
	width: 100%;
	max-height: 100%;
}
.general_info_title
{
	font-size: 30px;
	font-weight: 600;
	color: black;
	line-height: 1.2;
}
.general_info_list
{
	margin-top: 34px;
}
.general_info_list li:not(:last-child)
{
	margin-bottom: 15px;
}
.general_info_icon
{
	width: 21px;
	height: 21px;
	margin-right: 24px;
}
.general_info_icon img
{
	max-width: 100%;
}
.general_info_text,
.general_info_text a
{
	font-size: 14px;
	color: #100f3a;
	line-height: 1.2;
}
.general_info_text a
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.general_info_text a:hover
{
	color: #7A7A7A;
}
.general_info_text span
{
	color: black;
}
.social_container
{
	margin-top: 26px;
	padding-left: 38px;
}
.social_container ul li:not(:last-child)
{
	margin-right: 28px;
}
.social_container ul li a i
{
	font-size: 18px;
	color: #8d8b9b;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.social_container ul li a i:hover
{
	color: #FFFFFF;
}
.main_content_description
{
	width: calc(100% - 473px);
	height: 100%;
	padding-left: 82px;
	padding-right: 30px;
}
.main_title_container_description
{
	width: 100%;
	height: 193px;
}
.main_subtitle_descritpion
{
	font-size: 30px;
	font-weight: 500;
	color: #7A7A7A;
	line-height: 0.75;
}
.main_title_description
{
	font-size: 92px;
	font-weight: 800;
	color: #04612F;
	line-height: 0.75;
	margin-top: 12px;
}
.main_content_scroll_description
{
	margin-top: 72px;
	max-height: calc(100% - 193px - 72px - 30px);
	padding-right: 60px;
}
.mCS-minimal.mCSB_scrollTools .mCSB_draggerRail, .mCS-minimal-dark.mCSB_scrollTools .mCSB_draggerRail
{
	background: #FFFFFF;
}
.mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar
{
	width: 3px;
	background: #8583e1;
}
.about_title
{
	font-size: 30px;
	font-weight: 700;
	color: #04612F;
}
.about_text
{
    color: #808080;
	margin-top: 31px;
}

/****************
    Education   
****************/

.super_container_education
{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	padding-left: 40px;
	padding-right: 41px;
}

/* Content */

.main_content_outer_education
{
	width: 100%;
	height: 100%;
	background: #282828;
	overflow: hidden;
}
.main_content_education
{
	width: 130%;
	height: 100%;
	padding-left: 82px;
	padding-right: 30px;
}
.main_title_container_education
{
	width: 100%;
	height: 183px;
}
.main_title_education
{
	font-size: 72px;
	font-weight: 800;
	color: #04612F;
	line-height: 0.75;
	margin-top: 15px;
	margin-left: -4px;
}
.main_content_scroll_education
{
	margin-top: 125px;
	max-height: calc(100% - 183px - 125px);
	padding-right: 100px;
}

.mCSB_outside + .mCS-minimal.mCSB_scrollTools_vertical, .mCSB_outside + .mCS-minimal-dark.mCSB_scrollTools_vertical
{
	margin-top: 0;
}

.education
{
	width: 100%;
	padding-bottom: 60px;
}
.edu_item
{
	padding-top: 9px;
}
.edu_item:not(:last-child)
{
	margin-bottom: 44px;
}
.edu_year
{
	width: 100px;
	font-size: 24px;
	font-weight: 700;
	color: #068842;
	line-height: 1;
}
.edu_image
{
	width: 90px;
	height: 90px;
	margin-top: -9px;
}
.edu_image img
{
	max-width: 100%;
}
.edu_content
{
	padding-left: 38px;
}
.edu_title
{
	font-size: 24px;
	font-weight: 700;
	color: #04612F;
	line-height: 0.75;
}
.edu_subtitle
{
	font-size: 16px;
	font-weight: 600;
	color: #7A7A7A;
	margin-top: 7px;
	padding-left: 1px;
}
.edu_text
{
    color : #808080;
	margin-top: 18px;
	padding-left: 2px;
}

/****************
    Experience   
****************/

.super_container_experience
{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
    padding-left: 40px;
    padding-top: 97px;
	padding-right: 41px;
}

/* Content */

.main_content_outer_experience
{
	width: 100%;
	height: 100%;
	background: #282828;
	overflow: hidden;
}

.main_content_experience
{
	width: calc(100% - 473px);
	height: 100%;
	padding-left: 82px;
	padding-right: 30px;
}
.main_title_container_experience
{
	width: 100%;
	height: 183px;
}
.main_title_experience
{
	font-size: 72px;
	font-weight: 800;
	color: #04612F;
	line-height: 0.75;
	margin-top: 15px;
	margin-left: -4px;
}
.main_content_scroll_experience
{
	margin-top: 134px;
	max-height: calc(100% - 183px - 134px);
	padding-right: 100px;
}
.experience
{
	width: 100%;
	padding-bottom: 65px;
}
.exp_item:not(:last-child)
{
	margin-bottom: 53px;
}
.exp_time
{
	width: 181px;
	font-size: 24px;
	font-weight: 700;
	color: #068842;
	line-height: 0.75;
	text-align: right;
	white-space: nowrap;
}
.exp_content
{
	padding-left: 25px;
}
.exp_title
{
	font-size: 24px;
	font-weight: 700;
	color: #04612F;
	line-height: 0.75;
}
.exp_subtitle
{
	font-size: 16px;
	font-weight: 600;
	color: #808080;
	margin-top: 7px;
}
.exp_text
{
	margin-top: 18px;
}

/****************
    Skills 
****************/

.super_container_skills
{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	padding-left: 40px;
    padding-right: 41px;
}

/* Content */

.main_content_outer_skills
{
	width: 100%;
	height: 100%;
	background: #282828;
	overflow: hidden;
}
.main_content_skills
{
	width: 130%;
	height: 100%;
	padding-left: 82px;
	padding-right: 30px;
}
.main_title_container_skills
{
	width: 100%;
	height: 183px;
}
.main_title_skills
{
	font-size: 72px;
	font-weight: 800;
	color: #04612F;
	line-height: 0.75;
	margin-top: 15px;
	margin-left: -4px;
}
.main_content_scroll_skills
{
	margin-top: 134px;
	max-height: calc(100% - 183px - 134px);
	padding-right: 100px;
}

#competences {
    min-height: 100vh;
    padding-bottom: 40px; }
    @media screen and (max-width: 639px) {
      #competences {
        min-height: auto; } }
    @media screen and (min-width: 639px) and (max-width: 959px) {
      #competences {
        min-height: auto; } }
    #competences #compcontenu {
      width: 950px;
      height: 500px;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center; }
      @media screen and (max-width: 639px) {
        #competences #compcontenu {
          width: calc( 100% - 40px);
          margin: 0 20px;
          height: auto;
          text-align: center; } }
      @media screen and (min-width: 639px) and (max-width: 959px) {
        #competences #compcontenu {
          width: calc( 100% - 100px);
          margin: 0 20px; } }
      #competences #compcontenu p {
        margin: 0 40px;
        font-family: "Raleway", sans-serif; }
        @media screen and (max-width: 639px) {
          #competences #compcontenu p {
            margin: 0 5px; } }
        #competences #compcontenu p.note6 {
          font-size: 1.2em; }
          @media screen and (max-width: 639px) {
            #competences #compcontenu p.note6 {
              font-size: 1.1em; } }
        #competences #compcontenu p.note5 {
          font-size: 1.6em; }
          @media screen and (max-width: 639px) {
            #competences #compcontenu p.note5 {
              font-size: 1.3em; } }
        #competences #compcontenu p.note4 {
          font-size: 2em; }
          @media screen and (max-width: 639px) {
            #competences #compcontenu p.note4 {
              font-size: 1.5em; } }
        #competences #compcontenu p.note3 {
          font-size: 2.4em; }
          @media screen and (max-width: 639px) {
            #competences #compcontenu p.note3 {
              font-size: 1.7em; } }
        #competences #compcontenu p.note2 {
          font-size: 2.8em; }
          @media screen and (max-width: 639px) {
            #competences #compcontenu p.note2 {
              font-size: 1.9em; } }
        #competences #compcontenu p.note1 {
          font-size: 3.2em; }
          @media screen and (max-width: 639px) {
            #competences #compcontenu p.note1 {
              font-size: 2.1em; } }
        #competences #compcontenu p.note1 {
          font-weight: bold; }